[*]
indent_style = space
indent_size = 2
# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[{*.py,selenium}]
indent_style = space
indent_size = 4

